---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { getAlbumImages } from "../utils/albums";

const albums = await getCollection("albums");

const computeCounts = async (album) => {
  const images = await getAlbumImages(album.id);
  return [album.id, images.length];
};

const imageCounts = Object.fromEntries(
  await Promise.all(albums.map(computeCounts))
);

const base_url = import.meta.env.BASE_URL === '/' ? '' : import.meta.env.BASE_URL;

// 최신 날짜 기준 내림차순 정렬
const sortedAlbums = [...albums].sort((a, b) =>
  a.data.date < b.data.date ? 1 : -1
);
---

<Layout title="Gallery">
  <div class="text-center">
    <h1 class="text-5xl font-bold my-6">wwoodamtangshot</h1>
  </div>
    <div class="mx-auto container grid grid-cols-3 gap-0.5">
      {sortedAlbums.map((item) => (
        <a
          href={`${base_url}/gallery/${item.id}`}
          class="group"
        >
        <div class="relative aspect-square overflow-hidden rounded-sm">
          <img
            src={`${base_url}/src/content/albums/${item.data.cover}`}
            alt={item.data.title}
            loading="lazy"
            class="object-cover w-full h-full transition-all group-hover:shadow-lg group-hover:opacity-90"
          />
         <!-- 제목·설명 오버레이: 하단 정렬 -->
        <div
           class="absolute inset-0 bg-black bg-opacity-40 flex flex-col justify-end p-2"
         >
            <div class="text-center text-neutral-100">
              <strong class="block font-bold text-xl">
                {item.data.title}
              </strong>
              {item.data.description && (
                <p class="mt-2 text-sm">{item.data.description}</p>
              )}
            </div>
          </div>
        </div>
      </a>
    ))}
  </div>
</Layout>